img{
	max-width: 100%;
	max-height: 800px;

}
.color05{
	color: #1b538c
}

.bold{
	letter-spacing: 1px;
	font
}
.color06{
	color: #fff;
}
.color07{color: grey;

}
.text99{
	text-align: justify;
	margin-left: 120px;
}
